.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 40px;
    background-color: #282c34;
    padding: 10px;
}
.header a{
    text-decoration: none;
    color: snow;

}